html {
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: url(../../common/images/login.gif);
  background-repeat: no-repeat;
  /*background-size: 100% 100%;*/
  background-position: center center;
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.login-button,
.reset-button {
  text-align: center;
  border-radius: 330px;
}

.login-button :hover,
.reset-button :hover {
  background-color: azure;
  text-align: center;
  border-radius: 330px;
}

ul li {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  font-weight: 600;
  color: #191825;
  margin: 20px;
  border-radius: 3px;
}

iframe {
  width: 100%;
}

.footer {
  position: fixed;
  text-align: center;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-image: url(../../common/images/footer_background.gif);
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 15px;
}