body {
  min-width: 100vh;
  min-height: 100vh;
  background-image: url(../../common/images/contact-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
iframe {
  width: 100%;
  grid-area: "navbar";
}

.contact {
  display: grid;
  justify-content: center;
  grid-template-areas: "contact contact";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #205e61;
}

li {
  font-family: Fantasy;
  color: #205e61;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
