nav {
  background-color: #333;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 0 10px;
}

nav a:hover {
  color: #ccc;
}

.dropdown-button {
  background-color: #333;
  color: white;
  min-height: 50px;
  font-size: 18px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #3e8e41;
}

@media (max-width: 768px) {
  nav li {
    width: 100%;
    text-align: center;
  }
}
