body {
  width: 100hv;
}

nav {
  background-color: #333;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 0 10px;
}

nav a:hover {
  color: #ccc;
}

.dropdown {
  min-width: 13.75rem;
}
.dropdown-button {
  background-color: #333;
  color: white;
  min-height: 50px;
  font-size: 18px;
  border: none;
}

.dropdown-content {
  display: none;
  background-color: #333;
}

.dropdown-content a {
  min-height: 3.1rem;
  color: white;
  min-width: 10rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  nav li {
    width: 100%;
    text-align: center;
  }
}
