body {
  background-image: url(../../../common/images/ac-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100vh;
  min-height: 100vh;
}

.header {
  width: 100%;
}
