html {
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: url(../../common/images/background.jpg);
  background-position: center center;
  background-size: cover;
}

iframe {
  width: 100%;
}

.footer {
  position: fixed;
  text-align: center;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-image: url(../../common/images/footer_background.gif);
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 15px;
}