html {
  min-width: 100%;
  min-height: 100%;
}

body {
  display: grid;
  background-image: url(../../common/images/background.jpg);
}

iframe {
  width: 100%;
  grid-area: "navbar";
}

.list-of-games {
  width: 30%;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.list-of-games .active {
  color: white;
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.list-of-games .active {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  background-image: linear-gradient(black, black);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.4s, background-position 0.3s ease-in-out;
}

.list-of-games .active:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.4s, background-size 0.3s ease-in-out;
}
